			<footer>
					<a href="#Home" class="button circled scrolly">Bienvenidos a nuestra Web</a>
			</footer><br>

<!-- Main -->

			<div class="wrapper style2">

				<article id="main" class="container special">
					<a id="Home">
					<header>
						<h2><a>Plasticos y desechables para su empresa y su hogar.</a></h2>
						<p>
							
						</p>
					</header>

					<header>
						<h2><a>Filosofia 3 R</a></h2>
						
					</header>
					<p>
						En la busqueda de una mejor relación con el medio ambiente, hemos adoptado la filosofia 3R, que consite en Reducir, Reusar y Reciclar.

					Al Reducir el espesor y tamaño de los productos, utilizamos menos materias primas para la elaboración de los empaques con nuevas materias primas que evitan cada año desechar estos a los rellenos sanitarios.

					Reusar los productos, es la clave para evitar desechar un producto que por su naturaleza tiene mucho tiempo de vida antes de ser descartado o llevado a una proceso de recilcaje, muchos de nuestro empaque para reempacar nuestra produccion puede ser usado muchas veces, asi evitamos que los descarten y su vida util se alarga evitando mayores consumos.

					Todos los productos que elaboramos en Sigmaplas son 100% reciclables, pueden ir directamente a un proceso de recliclado donde puede dar origen a nuevos productos y asi evitar que lleguen a los rellenos sanitarios.
					</p>

				    </section>
					
					
				</article>

			</div>


<!-- Features -->
			<div class="wrapper style1">
				
				<section id="features" class="container special">
					<header>
						<h2>Linea de productos</h2>
					</header>

					<div class="row">
						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_8.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsas para residuos:</a></h3>
							</header>
							<p>
								Bolsas para la clasificacion de residuos.
							</p>
						</article>
						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_9.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Desechables para su mesa:</a></h3>
							</header>
							<p>
								Variedad de desechables.
							</p>
						</article>
						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_2.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsa para alimentos:</a></h3>
							</header>
							<p>
								En baja densidad para e uso liviano.
							</p>
						</article>
						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_3.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsa para alimentos:</a></h3>
							</header>
							<p>
								En baja densidad para e uso pesado.
							</p>
						</article>
						
						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_4.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsa para el comercio:</a></h3>
							</header>
							<p>
								Bolsa tipo camisa, ovalo.
							</p>
						</article>


						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_5.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsas para todo uso blanco y negro:</a></h3>
							</header>
							<p>
								Bolsa en alta y baja densidad.
							</p>
						</article>

						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_6.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsa en polipropileno:</a></h3>
							</header>
							<p>
								Para una presentación con alto brillo y gran transparencia.
							</p>
						</article>

						<article class="4u special">
							<a class="image featured"><%= image_tag("shapeimage_7.png", :alt => "rss feed") %></a>
							<header>
								<h3><a>Bolsa para el agro:</a></h3>
							</header>
							<p>
								Bolsa almacigo, ensillaje.
							</p>
						</article>


						
					</div>
				</section>
			</div>