        <footer>
				<a href="#product" class="button circled scrolly">Productos</a>
		</footer>



<!-- Main -->
<div class="left-sidebar">
			<div class="wrapper style1">

				<div class="container">
					<article id="main" class="special">

						<section id="product">
							<header>
								<h2><a>Catalogo de productos</a></h2>
								<p>
									Plasticos y desechables para su negocio,su hogar y su vida.
								</p>
							</header>
						</section>
					
						<p>
							-<strong>SIGMAPLAS</strong> es la mejor opción por su calidad y experiencia en la producion y distribucion de empaques plásticos en Colombia.
							<br>
							-Siempre esta buscanco mejorar la calidad de vida de sus clientes, products innovadores y un servicio memorable.
							<br>
							-<strong>SIGMAPLAS</strong> es amigo del medio ambiente <strong>REDUCIENDO,REUSANDO Y RECICLANDO.</strong>
						</p>
						<hr />

						<center><h2><a>Bolsas transparentes de baja densidad</a></h2></center>
						<section>
							<header>
								<h3>BOLSAS LINEA IDEAL</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo1.png", :alt => "rss feed") %></a>

							<p>
								Para empaque de granos, azucar, frijol,maíz,arroz,monedas,insumos de confección: bonotes,marquillas,cierres,verduras y frutas.
							</p>
						</section>
						<hr />

						<section>
							<header>
								<h3>BOLSAS LINEA TRADICIONAL</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo2.png", :alt => "rss feed") %></a>

							<p>
								Para empaque de carnes, verduras, porción de frutas, quesos, yogurt, paletas, algodones, abarrotes, harinas, granos, arepas, tortillas y mucho mas.
							</p>
						</section>
						<hr />
						
						<section>
							<header>
								<h3>BOLSAS PRACTICAS Y ENCONOMICAS</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo3.png", :alt => "rss feed") %></a>

							<p>
								Para empaque de pulpas, cubiertos para restaurantes, papeleria, bisuteria, hilos e implantes dentales.
							</p>
						</section>
						<hr />

						<section>
							<header>
								<h3>BOLSAS MULTIUSOS</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo4.png", :alt => "rss feed") %></a>

							<p>
								Para empaque de hielo, pulpa, carnes, salsas, aderezos, pescados, repuestos, herramientas, tornilleria, productos para congelacion y puede usarse oara hidratador de flores.
							</p>
						</section>
						<hr />

						<center><h2><a>Bolsas blancas y negras de alta y baja densidad</a></h2></center>

						<section>
							<header>
								<h3>BOLSAS TRADICIONAL</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo5.png", :alt => "rss feed") %></a>

							<p>
								Ideales para tiendas, farmacias, ferreterias, trasteos, uso doméstico y bisuteria.<br>
								Enconimica garantizada con alto desempeño.
							</p>
						</section>
						<hr />

						<center><h2><a>Bolsas transparentes polipropileno</a></h2></center>

						<section>
							<header>
								<h3>BOLSAS delicada</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo6.png", :alt => "rss feed") %></a>

							<p>
								Ideales para tiendas, presentacion impecable en panadería, alimentos y condección.
							</p>
						</section>
						<hr />

						<center><h2><a>Bolsas con zipper</a></h2></center>

						<section>
							<header>
								<h3>Bolsas cierre hermetico</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo7.png", :alt => "rss feed") %></a>

							<p>
								Ideal para pulpas, verduras y frutas, muestras de granos, insumos de confección, repuestos, tornilleria, muestras de laboratorios, útil para viajes y mucho mas.
							</p>
						</section>
						<hr />

						<center><h2><a>Bolsas para el comercio</a></h2></center>

						<section>
							<header>
								<h3>Bolsas óvalo</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo8.png", :alt => "rss feed") %></a>

							<p>
								Para empaque, de productos para su negocio, regalos, fiestas, ropa y calzado.
							</p>
						</section>
						<hr />

						<section>
							<header>
								<h3>Bolsas camisa</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo9.png", :alt => "rss feed") %></a>

							<p>
								Ideal para almacénes, perfumerías y restaurantes.
							</p>
						</section>
						<hr />

						<section>
							<header>
								<h3>Bolsas en rollo precortadas</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo10.png", :alt => "rss feed") %></a>

							<p>
								Ideal para la sección de fruver.
							</p>
						</section>
						<hr />

						<section>
							<header>
								<h3>Bolsas para el agro</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo11.png", :alt => "rss feed") %></a>

						</section>
						<hr />

						<center><h2><a>Bolsas para residuos</a></h2></center>
						<section>
							<header>
								<h3>Bolsas para residuos</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo12.png", :alt => "rss feed") %></a>
							<p>
								Para tener un plan de manejo integral de residuos solidos, ésta es la solución más práctica y económica.
							</p>

						</section>
						<hr />

						<section>
							<header>
								<h3>Bolsas para despacho y residuos</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo13.png", :alt => "rss feed") %></a>

						</section>
						<hr />

						<center><h2><a>Tubulares y láminas</a></h2></center>

						<section>
							<header>
								<h3>Tubulares</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo14.png", :alt => "rss feed") %></a>

							<p>
								Ideal para empaque de productos a nivel industrial, pequeñas y medianas empresas, contruccíon y 100% polietileno original.
							</p>

						</section>
						<hr />

						<section>
							<header>
								<h3>Plastico autoadherente</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo15.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Cintas de señalización</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo16.png", :alt => "rss feed") %></a>

							<p>
								Ideal para demarcar espacios y redes subterráneas.
							</p>

						</section>
						<hr />

						<center><h2><a>Desechables</a></h2></center>

						<section>
							<header>
								<h3>línea Bio</h3>
							</header>
							<a class="image featured"><%= image_tag("lineabio.png", :alt => "rss feed") %></a>

							<p>
								La línea Bio de <strong>SIGMAPLAS</strong>
								es compostable, se integra a la tierra como abono después de ser usado.
							</p>

						</section>
						<hr />

						<section>
							<header>
								<h3>línea Bio - Desechables</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo17.png", :alt => "rss feed") %></a>

						</section>
						<hr />

						<section>
							<header>
								<h3>línea ecológica</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo18.png", :alt => "rss feed") %></a>

							<p>
								Nuevos productos <strong>SIGMAPLAS BIO</strong> elaborados con BIO_POLÍMEROS derivados del azúcar; Elaborados con fibra de caña de azúcar.
							</p>
						</section>
						<hr />

						<center><h2><a>Vasos</a></h2></center>

						<section>
							<header>
								<h3>Vaso blanco y opal</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo19.png", :alt => "rss feed") %></a>

							<p>
								Vasos plasticos desechables
							</p>
						</section>
						<hr />
					
						<section>
							<header>
								<h3>Vaso economico</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo20.png", :alt => "rss feed") %></a>


							<p>
								Ideal para café, bebidas calientes o friás, tamaño adecuado para hacer rendir bebidas. "MAS VASOS MENOS COSTO"
							</p>
						</section>
						<hr />

						<section>
							<header>
								<h3>Recipientes</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo21.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Línea fiesta</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo22.png", :alt => "rss feed") %></a>
						</section>
						<hr />
					
						<section>
							<header>
								<h3>Pitillos, palos. palillos y mezcladores</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo23.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Línea bar</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo24.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Línea estelar</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo25.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<center><h2><a>Platos</a></h2></center>
						
						<section>
							<header>
								<h3>Plato económico, plato divisiones, plato porta comidas y bandejas</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo26.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Cubiertos plasticos</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo27.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<center><h2><a>Complentarios</a></h2></center>

						<section>
							<header>
								<h3>Cintas adhesivas, bandas plástico papel</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo28.png", :alt => "rss feed") %></a>
						</section>
						<hr />


						<section>
							<header>
								<h3>Zuncho y fibras PP</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo29.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Aluminio, papel moldes y bolsas</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo30.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Servilletas y toallas</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo31.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Guantes, gorros y delantales</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo32.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Bolsas de papel</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo33.png", :alt => "rss feed") %></a>
						</section>
						<hr />

						<section>
							<header>
								<h3>Velones, globos solares</h3>
							</header>
							<a class="image featured"><%= image_tag("catalogo34.png", :alt => "rss feed") %></a>
						</section>
						<hr />



					</article>
					
					
				</div>

			</div>
</div>			